#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.centered-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.centered-content img {
  margin-bottom: 20px;
}

.centered-content button {
  margin-bottom: 20px;
}

.header-container {
  position: fixed;
  top: 0;
  right: 0;
  padding: 10px;
  display: flex;
}

.sign-out-button {
  display: flex;
  align-items: center;
  padding: 10px;
}

.avatar {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 20px;
}

button {
  padding: 10px;
}
