@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #0a0a0a;
}

/* Navbar background color */
nav.bg-gray-800 {
    background-color: transparent; /* Transparent background */
}

/* Navbar button background */
.nav-btn {
    padding: 0.5rem 1rem; /* Adjust padding as needed */
    border-radius: 0.5rem; /* Rounded corners */
    border: 1px solid #fff; /* White border */
    background-color: transparent;/* Lighter background color */
   
}

/* Navbar button hover effect */
.nav-btn:hover {
   background:blur(1px); /* Add a blur effect */
}
